@import url('http//.fonts.googleleapis.com/css/familly=quickstand:400,500&subset=latin-ext');
body {
    padding: 100px;
    background-image:linear-gradient(-20deg, #ff2846 0%, #6944ff  100%);
    text-align:center;
    font-family:'quickstand', sans-serif;
}